# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Env files
.env

# JARs
*.jar
*.war
*.ear

# Docker
docker-compose.override.yml
