.filter-sidebar {
  background: #111;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 170px;
  height: auto;
  flex-shrink: 0; /* No se achica */
}
.checkbox-group {
  display: flex;
  flex-direction: column; /* Apilar las checkboxes */
  gap: 10px;
  max-height: calc(100vh - 22rem); /* Ajusta la altura máxima disponible */
  overflow-y: auto; /* Agrega el scroll si el contenido excede el área visible */
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.apply-filter-button, .reset-filter-button {
  background-color: #e0e0e0;
  color: black;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.apply-filter-button:hover, .reset-filter-button:hover {
  background-color: #d4d4d4;
}

.button-container {
  display: flex;
  flex-direction: column; /* Hace que los botones estén en una fila */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;
}

.store-page {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 1rem;
  min-height: 80vh;
}