.manage-stock-page {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manage-stock-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.stock-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
